.electrons-display {
  position: absolute;
  top: 0;
  left: -245px;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(255, 255, 255, 0);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 530px;
  height: 530px;
  /* No background color when inside diagram *  pointer-events: none; /* Allow clicks to pass through */
}



.electron-svg {
  width: 30%;
  height: 200px;
  /* filter: drop-shadow(0 0 15px rgba(218, 119, 242, 0.9)); */
 /*  animation: pulse 3s infinite alternate; */
 /*  background-color: rgba(0, 0, 0, 0.3);  *//* Dark background for better visibility */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}

/* Add different animation delays for each SVG for a more dynamic effect */
.electron_oneToThree{
    position: absolute;
    top: 30px;
    left: 257px;
    width: 5%;
}
.electron_threeToFive1{
  position: absolute;
  top: 140px;
  left: 255px;
  width: 5%;
}
.electron_threeToFive2{
  position: absolute;
  top: 160px;
  left: 265px;
  width: 5%;
}
.electron_threeToNineteen1{
  position: absolute;
  top: 143px;
  left: 315px;
  width: 5%;
}
.electron_threeToNineteen2{
  position: absolute;
  top: 170px;
  left: 325px;
  width: 5%;
}
.electron_dittoThree{
  position: absolute;
  top: 80px;
  left: 276px;
  width: 5%;
}
.electron_threeToFifteen1{
  position: absolute;
  top: 140px;
  left: 195px;
  width: 5%;
}
.electron_threeToFifteen2{
  position: absolute;
  top: 170px;
  left: 190px;
  width: 5%;
}

.electron_threeToEighteen{
  position: absolute;
  top: 160px;
  left: 295px;
  width: 5%;
}
.electron_threeToSixteen{
  position: absolute;
  top: 160px;
  left: 220px;
  width: 5%;
}
.electron_fiveToNineteen{
  position: absolute;
  top: 215px;
  left: 340px;
  width: 5%;
}
.electron_fiveToEighteen{
  position: absolute;
  top: 205px;
  left: 305px;
  width: 5%;
}
