
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0);
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 10px;
}
.button{
   
    margin: 10px 0;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    height: 30px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 1);
    display: flex;
    padding: 0 10px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.button span{
    margin-left: 10px;
}
.button .on{
    color: green;
}
.button .off{
    color: red;
}
.allConnections{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 600px;
    height: 600px;
    opacity: 1;
    background: rgba(255, 255, 255, 0);
    
}


.threeToThree1{
    position: absolute;
    top:12%;
    left: 26%;
    transform: rotate(0deg);
    height: 210px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(40deg);
   transform-origin: bottom;
}

.threeToThree2{
    position: absolute;
  top: 17%;
  left: 27%;
  transform: rotate(0deg);
  height: 185px;
  width: 1px;
  background: rgb(255, 255, 255);
 transform: rotate(40deg);
 transform-origin: bottom
}
.threeToFive1{
    position: absolute;
    top: 24%;
    left: 29%;
    transform: rotate(0deg);
    height: 150px;
    width: 1px;
    background: rgb(255, 255, 255);
    transform: rotate(60deg);
   transform-origin: bottom;
}
.threeToFive2{
    position: absolute;
    top: 24%;
    left: 28%;
    transform: rotate(0deg);
    height: 150px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(60deg);
   transform-origin:bottom;
}
.sevenToFive1{
    position: absolute;
    top: 24%;
    left: 72%;
    transform: rotate(0deg);
    height: 150px;
    width: 1px;
    background: rgb(255, 255, 255);
    transform: rotate(-60deg);
   transform-origin: bottom;
}
.sevenToFive2{
    position: absolute;
    top: 24%;
    left: 71%;
    transform: rotate(0deg);
    height: 150px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(-60deg);
   transform-origin:bottom;
}
.sevenToThree1{
    position: absolute;
    top:12%;
    left: 74%;
    transform: rotate(0deg);
    height: 210px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(-40deg);
   transform-origin: bottom;
}
.sevenToThree2{
    position: absolute;
    top: 17%;
    left: 73%;
    transform: rotate(0deg);
    height: 185px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(-40deg);
   transform-origin: bottom
}
.fourToFive1{
    position: absolute;
    top: 33%;
    left: 40%;
    transform: rotate(0deg);
    height: 90px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(50deg);
   transform-origin: bottom;
}
.sixToFive1{
    position: absolute;
    top: 33%;
    left: 60%;
    transform: rotate(0deg);
    height: 90px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(-50deg);
   transform-origin: bottom;
}

.sixTofour1{
  position: absolute;
  top: 33%;
  left: 61%;
  transform: rotate(0deg);
  height: 80px;
  width: 1px;
  background: rgb(255, 255, 255);
 transform: rotate(-45deg);
 transform-origin: bottom;
}
.sixTofour2{
position: absolute;
top: 36.5%;
left: 58.5%;
transform: rotate(0deg);
height: 60px;
width: 1px;
background: rgb(255, 255, 255);
transform: rotate(-45deg);
transform-origin: bottom;
}


.threeToTen1{
    position: absolute;
    top: 55%;
    left: 26%;
    transform: rotate(0deg);
    height: 210px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(-40deg);
   transform-origin: top;
}

.threeToTen2{
  position: absolute;
  top: 54%;
  left: 27%;
  transform: rotate(0deg);
  height: 185px;
  width: 1px;
  background: rgb(255, 255, 255);
 transform: rotate(-40deg);
 transform-origin: top;
}
.threeToEight1{
    position: absolute;
    top: 53%;
    left: 28%;
    transform: rotate(0deg);
    height: 150px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(-57deg);
   transform-origin: top;
}
.threeToEight2{
    position: absolute;
    top: 52%;
    left: 28%;
    transform: rotate(0deg);
    height: 150px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(-57deg);
   transform-origin: top;
}

.sevenToTen1{
    position: absolute;
    top: 55%;
    left: 73%;
    transform: rotate(0deg);
    height: 210px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(40deg);
   transform-origin: top;
}
.sevenToTen2{
    position: absolute;
    top: 54%;
    left: 72%;
    transform: rotate(0deg);
    height: 185px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(40deg);
   transform-origin: top;
}
.sevenToEight1{
    position: absolute;
    top: 53%;
    left: 72%;
    transform: rotate(0deg);
    height: 150px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(57deg);
   transform-origin: top;
}
.sevenToEight2{
    position: absolute;
    top: 52%;
    left: 72%;
    transform: rotate(0deg);
    height: 150px;
    width: 1px;
    background: rgb(255, 255, 255);
   transform: rotate(57deg);
   transform-origin: top;
}

.fourToSix1{
  position: absolute;
  top: 53%;
  left: 39%;
  
  height: 100px;
  width: 1px;
  background: rgb(255, 255, 255);
 transform: rotate(-41deg);
 transform-origin: top;
}
.sixToSix1{
    position: absolute;
    top: 53%;
    left: 61%;
    height: 100px;
    width: 1px;
    background: rgb(255, 255, 255);
    transform: rotate(41deg);
    transform-origin: top;
  }

/* DIAGRAM */


.diagram{
    display: flex;
    position: relative;
}
.vertical{
  display: grid;
  grid-template-rows:50px 50px 50px 50px 50px 50px 43px 43px 43px 43px 43px 43px 43px;
  height: 600px;
 /*  gap: 10px; */
  background: rgba(255, 0, 0, 0);
  width: 50px;
  justify-items: center;
  align-items: center;
  border: 2px dashed rgba(0, 0, 255, 0); /* Container border for grid visibility */
}
.vertical > * {
  outline: 1px solid rgba(0, 0, 255, 0);
}
.one{
    margin-top: -40px;
}
.two{
    margin-top: -40px;
}
.three{
    margin-top: -40px;
}
.four{
    margin-top: -40px;
}
.five{
    margin-top: -40px;
}    
.horizontal{
  position: absolute;
  top: 255px;
  left: -275px;
  background: rgba(255, 0, 0, 0);
  width: 600px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.element{
    width: 40px;
    height: 40px;
    background: rgb(7, 7, 7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 20px;
    position: relative;
} 
.element:hover{
    cursor: pointer;
border: 2px dashed rgba(255, 255, 255, 1);
}
.seventeen{
 opacity: 0;   
}
.squared{
    position: absolute;
    top:55px;
    left: -195px;
    background: rgba(255, 0, 0, 0);
    border: 2px dashed rgb(255, 255, 255);
    width: 440px;
    height: 440px;
    transform: rotate(45deg);
    z-index: 0;
}


.svg{
    width: 70%;
    height: 70%;
   
    
}

.selected-chord {
    border: 2px dashed #00e1ff !important;
    box-shadow: 0 0 10px #00e1ff44;
}

